<template>
  <div id="app">
    <!-- Top Bar -->
    <div id="top-bar">
      <div class="toggle-sidebar-btn" @click="toggleSidebar">
        <i v-if="sidebarCollapsed" class="fa fa-times"></i>
        <i v-else class="fa fa-bars"></i>
        <span class="page-title">Memo App</span>
      </div>
      <div class="login-section">
        <!-- Access Token Input -->

        <div class="input-field">
          <label class="label">Access Token</label>
          <input id="access_token" type="text" v-model="access_token" @input="isAccessTokenValid()"
            :disabled="!isInitialState">
        </div>

        <!-- Login Button -->
        <button id="login" @click="login" :disabled="!isInitialState || !isValidToken">LOGIN</button>
      </div>
    </div>

    <!-- Content Container -->
    <div class="content-container">
      <!-- Sidebar -->
      <div id="sidebar" :style="{ width: sidebarCollapsed ? '70px' : '250px' }">
        <div class="sidebar-wrapper" ref="sidebarWrapper"> <!-- Add a wrapper div with ref -->

          <div v-for="(category, index) in categories" :key="index" class="category-item" v-bind:id="'category-' + category.id">
            <ul>
              <li>
                <div class="sidebar-item" @click="toggleCategory(index)">
                  <div class="sidebar-item-wrapper">
                    <i :class="['fa', category.expanded ? 'fa-folder-open' : 'fa-folder']"></i>
                    <span class="category-name" v-if="!sidebarCollapsed" v-bind:id="'category-' + category.id + '-title'">{{ category.name }}</span>
                    <i class="fa fa-caret-down" v-if="!sidebarCollapsed && !category.expanded"></i>
                    <i class="fa fa-caret-up" v-if="!sidebarCollapsed && category.expanded"></i>

                  </div>
                </div>
              </li>
              <li>
                <div v-if="category.expanded && !sidebarCollapsed" class="expanded-items">
                  <div v-for="(item, itemIndex) in category.memos" :key="itemIndex" class="sidebar-item"
                    @click="selectItem(item)" v-bind:id="'memo-' + item.id">
                    <i class="fa fa-file"></i> <!-- Document icon -->
                    <span class="category-name">{{ item.title }}</span>


                  </div>
                </div>
              </li>
              <li>
                <div v-if="category.expanded && !sidebarCollapsed" class="category-line"></div>
              </li>

            </ul>

          </div>

          <button id="new-memo" @click="addMemo" :disabled="noExpandedCategories">NEW</button>

        </div>


      </div>
      <div class="divider"></div>

      <!-- Content -->
      <div id="content">
        <!-- Input Fields -->
        <div>
          <div class="input-field">
            <label class="label">Title</label>
            <input id="memo-title" type="text" v-model="memoTitle" ref="titleInput" :disabled="selectedItem === null">
          </div>
          <div>
            <label class="label">Content</label>
            <textarea v-model="memoContent" rows="10" id="memo-content" :disabled="selectedItem === null"></textarea>
          </div>
          <!-- Buttons -->

          <div class="button-container">
            <button id="save-memo" @click="saveMemo(selectedItem.id)" :disabled="selectedItem === null">SAVE</button>
            <button id="delete-memo" @click="deleteMemo" :disabled="selectedItem === null">DELETE</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  props: {
    msg: String
  },
  data() {

    return {
      isValidToken: false,
      categories: [],
      selectedItem: null,
      sidebarCollapsed: false,
      access_token: '',
      isInitialState: true,
      selectedCategory: null,
      selectedCategoryIndex: null,
      memoContent: '',
      memoTitle: null,
    }
  },
  computed: {
    // Check if there are no expanded categories
    noExpandedCategories() {
      return this.categories.every(category => !category.expanded);
    }
  },
  methods: {
    isAccessTokenValid() {
      const regex = /^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/;
      this.isValidToken = regex.test(this.access_token);
    },
    // Method to add a new item
    addItem() {
      // Add logic to add the new item to your data structure or perform API call
      // For example:
      const newItem = {
        title: this.memoTitle,
        content: this.memoContent
      };
      // Add the new item to your data structure or perform API call
      console.log('New item:', newItem);

      // Reset the input fields after adding the item
      this.resetInputs();
    },
    // Method to reset the input fields
    resetInputs() {
      this.memoTitle = '';
      this.memoContent = '';
    },
    login() {
      this.isInitialState = false;
      this.fetchCategories(); // Assuming this method fetches categories after login
    },

    generateAccessToken() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        var r = Math.random() * 16 | 0,
          v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    },

    toggleCategory(index) {
      if (this.selectedCategoryIndex !== null && this.selectedCategoryIndex !== index) {
        this.categories[this.selectedCategoryIndex].expanded = false;
      }
      this.categories[index].expanded = !this.categories[index].expanded;
      this.selectedCategoryIndex = index;
    },
    selectItem(item) {
      console.log(item.title);

      this.selectedItem = item;

      this.fetchMemoById(item.id)
    },
    toggleSidebar() {
      this.sidebarCollapsed = !this.sidebarCollapsed;
    },
    fetchCategories() {
      fetch('https://challenge-server.tracks.run/memoapp/category', {
        headers: {
          'X-ACCESS-TOKEN': this.access_token
        }
      })
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Failed to fetch categories');
          }
        })
        .then(data => {
          console.log(data)
          data.forEach(category => {
            category.expanded = false;
            this.fetchMemos(category.id);

          });

          this.categories = data;
        })
        .catch(error => {
          this.error = error.message;
        });
    },
    fetchMemoById(memoId) {
      fetch(`https://challenge-server.tracks.run/memoapp/memo/${memoId}`, {
        headers: {
          'X-ACCESS-TOKEN': this.access_token
        }
      })
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Failed to fetch memo');
          }
        })
        .then(data => {
          // Do something with the retrieved memo data
          console.log('Memo retrieved successfully:', data);
          this.memoContent = data.content
          this.memoTitle = data.title
          this.$refs.titleInput.focus();

        })
        .catch(error => {
          console.error('Error fetching memo:', error);
        });
    },
    async fetchMemos(categoryId) {
      try {
        const response = await fetch(`https://challenge-server.tracks.run/memoapp/memo?category_id=${categoryId}`, {
          headers: {
            'X-ACCESS-TOKEN': this.access_token
          }
        });

        if (response.ok) {
          const data = await response.json();
          const category = this.categories.find(cat => cat.id === categoryId);

          if (category) {
            category.memos = data;
          }
        } else {
          throw new Error('Failed to fetch memos');
        }
      } catch (error) {
        console.error('Error fetching memos:', error);
      }
    },
    saveMemo(memoId) {
      // Save the selected memo to the server
      fetch(`https://challenge-server.tracks.run/memoapp/memo/${memoId}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
          'X-ACCESS-TOKEN': this.access_token
        },
        body: JSON.stringify({
          category_id: this.categories[this.selectedCategoryIndex].id,
          title: this.memoTitle,
          content: this.memoContent
        })
      })
        .then(response => response.json())
        .then(data => {
          console.log('Memo saved successfully:', data);

          var category = this.categories.find(cat => cat.id === this.selectedItem.category_id);
          if (category) {
            var memoToUpdate = category.memos.find(item => item.id === this.selectedItem.id);


            if (memoToUpdate) {
              // Update the title of the found memo
              memoToUpdate.title = data.title;

              // Optionally, update the title in the sidebar
              category.title = data.title;
            }
          }
        })
        .catch(error => console.error('Error saving memo:', error));
    },
    addMemo() {
      this.resetInputs()
      this.memoTitle = "New Memo"
      this.$refs.titleInput.focus();

      fetch('https://challenge-server.tracks.run/memoapp/memo', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-ACCESS-TOKEN': this.access_token
        },
        body: JSON.stringify({
          category_id: this.categories[this.selectedCategoryIndex].id,
          title: this.memoTitle, // Example title
          content: this.memoContent // Example content
        })
      })
        .then(response => response.json())
        .then(data => {
          // console.log('New memo added successfully:', data);
          var category = this.categories.find(cat => cat.id === data.category_id);
          if (category) {
            // console.log(data);
            category.memos.push(data);
          }
          this.selectedItem = data;
        })
        .catch(error => console.error('Error adding memo:', error));
    },
    deleteMemo() {
      if (this.selectedItem) {
        fetch(`https://challenge-server.tracks.run/memoapp/memo/${this.selectedItem.id}`, {
          method: 'DELETE',
          headers: {
            'X-ACCESS-TOKEN': this.access_token
          }
        })
          .then(() => {
            console.log('Memo deleted successfully');
            var category = this.categories.find(cat => cat.id === this.categories[this.selectedCategoryIndex].id);
            if (category) {
              category.memos = category.memos.filter(memo => memo.id !== this.selectedItem.id);
            }
            // console.log(category.memos);

            this.selectedItem = null;
            this.resetInputs();
          })
          .catch(error => console.error('Error deleting memo:', error));
      }
    }
  }

}
</script>

<style scoped>
#memo-content{
  box-shadow: none;
}

#login {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(150, 150, 150);
  font-size: inherit;
  padding: 0;
}

#access_token {
  width: 500px;
  border: none;
  border-bottom: 1px dotted rgb(150, 150, 150); /* Bottom line style */
  outline: none; /* Remove the default focus outline */
  padding: 5px 0; /* Add padding if needed */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  background: transparent;
  color: rgb(150, 150, 150);
  box-shadow: none;
}

#access_token:focus {
  border-bottom: 1px dotted rgb(150, 150, 150); /* Bottom line style */
}


.fa-folder,
.fa-folder-open,
.fa-file,
.fa-times,
.fa-bars {
  font-size: 30px;
  margin-left: 10px;
}

.fa-caret-right,
.fa-caret-down,
.fa-caret-up {
  font-size: 20px;
  align-content: flex-end;
  justify-content: space-between;
  margin-right: 10px;
}

.category-item {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;

}

.category-name {
  margin-left: 10px;
}

#new-memo {
  padding: 5px 10px;
  border: none;
  align-self: flex-end;
  margin: 10px;
  align-content: flex-end;
  background-color: green;
  color:white;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover */
  border-radius: 5px; /* Adjust the border radius as needed */
}

.label {
  color: rgb(150, 150, 150);
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#top-bar {
  background-color: rgba(25, 97, 202, 1.0);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.page-title {
  font-size: 20px;
  margin-left: 20px;
}

.login-section {
  display: flex;
  align-items: center;
}

.login-section input[type="text"] {
  margin-right: 10px;
}

.toggle-sidebar-btn {
  cursor: pointer;
}

.content-container {
  display: flex;
  flex: 1;
}

.expanded-items {
  display: flex;
  flex-direction: column;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  transition: height 0.5s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#sidebar {
  background-color: white;
  width: 200px;
  overflow-y: auto;
  transition: width 0.5s;
}

#sidebar ul {
  margin: 0px;
  width: 100%;
}

.divider {
  width: 1px;
  background-color: rgba(200, 200, 200, 0.5);
  height: 100vh;
}

.sidebar-item {
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  align-items: center;

}

.sidebar-item-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;

}

.sidebar-item.active {
  font-weight: bold;
}

#content {
  flex: 1;
  padding: 20px;
}

.button-container {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.button-container button {
  padding: 5px 10px;
  /* background-color: #007bff;*/
  color: #fff;
  border: none;
  cursor: pointer;
}
#save-memo:disabled, #delete-memo:disabled, #new-memo:disabled {
  cursor: not-allowed;
  color: white;
  background-color: rgb(100, 100, 100);
}

#save-memo:hover, #delete-memo:hover, #new-memo:disabled {
  text-decoration: none;
}

#save-memo {
  background-color: green;
  color:white;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover */
  border-radius: 5px; /* Adjust the border radius as needed */
}

#delete-memo {
  background-color: red;
  color:white;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover */
  border-radius: 5px; /* Adjust the border radius as needed */

}

#delete-memo:active {
  background: rgb(150, 150, 150);
  background-image: linear-gradient(to bottom, rgb(150, 150, 150), rgb(200, 200, 200));
  text-decoration: none;
}

#memo-content {
  min-height: 100px;
  /* resize: none; */
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.category-line {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}
</style>
